body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #86608e;
    margin: 0;
    padding: 0;
}

#container{
    max-width: 1100px;
    margin: auto;
    padding: 20px;    
}

#main-head{
    color: white;
    font-size: 60px;
    font-family: 'Baloo 2', cursive; 
    text-align: center; 
    text-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

#category-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#category-selector select {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#news-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

#card{
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.6);
    background-color: #d8bfd8;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
}
#card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

#card:hover{
    transform: translateY(-5px);
    background-color: #c8a2c8;
}
#card-content {
    padding: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 10px;
}
#card-content h3 {
  font-size: 1.1rem;
  margin: 0 0 10px;
  color: #222;
}

#card-content p {
  flex: 1;
  font-size: 0.95rem;
  color: #555;
}

#card-content a {
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

#card-content a:hover {
  text-decoration: underline;
}
@media (max-width: 700px) {
  .news-list {
    grid-template-columns: 1fr;
  }
}

#catLabel{
    color: white;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Baloo 2', cursive; 
    margin: 10px;
    text-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

#selectBox{
    width: 250px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}